div{
display:inline-block;
float:left;

}
#guide{
  text-align:left;
  background-color:#1b0f09 !important;
}
table{
  background-color:#050402;
  padding:0px;
  border:none;
  border-spacing:0px;
}
iframe{
  border:none;
}
td{
  padding:0;
  border-bottom:#050402 solid 2px;
}
.outer
{
  width:515px;
  height:165px;
  overflow:hidden;
  position:relative;
  border-right:2px solid #050402;
}

.inner
{
  position:absolute;
  top:-510px;
  left:-323px;
  width:840px;
  height:1168px;
  pointer-events: none;
}
.raid{
  height:600px;
  width:400px;
}
.thumbnail{
  float: left;
  display: block;
  overflow: hidden;
  width: 38px;
  height: 38px;
  margin: 1px 11px 1px 1px;
  background-color: #3b1c11;
  background-image: url("http://us.battle.net/wow/static/images/wiki/zone/thumbnails.png");
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: #0d0703 0 0 5px;
}
.toon{
  height:130px;
  margin-bottom:-5px;
}
.name{
  transform: rotate(90deg);
  transform-origin: center center 0;
  font-size:24;
  color:#F5EBD1;
}
.label{
  width:40px;
}
.pic{
  vertical-align:bottom;
  border-left:#050402 solid 2px;
}
.buffer{
  background:linear-gradient(to right,#050402,#231914);
  width:100px;
}
body{
  background-color:#1b0f09;
  color:#948b87;
}
.guidebody{
  background-position-x:756px;
  background-repeat-y:no-repeat;
  color:#b79855;
}
.guidebody a{
color:#b79855;

}
a{
  color:#948b87;
  text-decoration:none;
}
h1{
  font-size:16px;
  font-style:bold;
  display:none;
}
h2{
  font-size:18px;
  margin-left:20px;
  margin-top:30px;
}
ul{
  font-size:14px;
  list-style-type:none;
}
li{
  margin-top:10px;
  margin-left:-10px;
}
.pet{
  margin-left:10px;
  font-style:italic;
}
.pet::before{
  content:"(";
}
.pet::after{
  content:")"
}
